
<%= javascript_include_tag 'custom', 'data-turbolinks-track' => true %>
<div class="container-fluid">
<table>
	
	 <%= form_tag(generate_report_transaction_path, :method => 'get')  do  %>
		<tr>
		<td>start date</td>
        <td><%= text_field_tag 'start_date', nil, class: 'datepicker'%></td>
		<!-- <td><input type="text"  name="text1"  class="datepicker" /></td> -->
	    <td>end date</td>
		 <!-- <td><input type="text"  name="text2"  class="datepicker" /></td> -->
		<td><%= text_field_tag 'end_date', nil, class: 'datepicker'%></td> 
	</tr>
	<tr>
	<td><%= submit_tag  "Generete Statement"%></td>	
    </tr>
   <% end %>
</table>
</div>